/* Custom CSS */

/* set text font styles */
.roboto-condensed-300 {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-condensed-400 {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed-500 {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  /* set css display to flex */
  display: flex;

  /* set flex direction to column */
  flex-direction: column;

  /*
      set minimum height to 100dvh of the viewport height.
      footer will attach to bottom of body
  */
  min-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.03)!important;
}

/* cookie banner and button styling */
#cookieBanner {
  width: 100%;
  background-color: rgba(0, 0, 0, 1)!important;
  color: black;
  padding: 1.25rem;
  border-radius: 0;
}

#acceptCookie {
  background-color: #036320!important;
  color: white;
  padding: 0.5rem;
  border: 0;
  border-left: 3px solid #ffffff;
  border-radius: 0;
}

#acceptCookie:hover {
  background-color: rgb(39, 202, 101) !important;
  color: black !important;
}

/* ---- main styling for site ---- */
#kofi-icon-text {
  font-size: 1.75rem;
  color: brown;
}

.kofi-text {
  text-decoration: none !important;
}

.inset-div-style {
  width: 100%;
  margin: 0;
  padding: 0;
}

.inset-div-col1 {
  background-color: rgba(0, 0, 0, 0.15);
}

.inset-div-col2 {
  background-color: rgba(0, 0, 0, 0.15);
}

.color-white {
  color: white;
}

.navbar-style {
  width: 100%;
  border-radius: 0;
}

.main-div-style {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0;
  margin-bottom: 1rem;
}

/* ---- !important used to override default Bootstrap code ---- */
.btn-style {
  background-color: #036320!important;
  padding: 0.5rem;
  border: 0;
  border-left: 3px solid #000000!important;
}

.btn-style:hover {
    background-color: rgb(39, 202, 101) !important;
    color: black !important;
}

.modal-edge {
    border-radius: 0 !important;
}

.btn-modal-style {
    border-radius: 0 !important;
    border: 0;
    border-left: 3px solid black !important;
    background-color: rgb(166, 3, 3) !important;
    color: rgba(255, 255, 255, 1.0) !important;
}

.btn-modal-style:hover {
  background-color: rgb(255, 2, 2) !important;
  color: black !important;
}

.btn-kofi-style {
  border-radius: 0;
  border: 0;
  border-left: 3px solid white;
  background-color: brown;
  color: white;
}

.btn-kofi-style:hover {
  background-color: rgb(232, 112, 6);
  color: black;
}

#form {
  width: 75%;
}

.form-style {
    width: 100%;
    min-height: 60dvh;
    background-image: linear-gradient( white, rgba(0, 0, 0, 1));
    border-radius: 0;
}

#fullname {
    border-radius: 0;
    margin-top: 10px;
}

#emailaddress {
    border-radius: 0;
    margin-top: 10px;
}
#projectsummary {
    border-radius: 0;
    margin-top: 10px;
}

#submit-button-style {
  background-color: #036320!important;
    color: white;
    border: 0;
    border-left: 3px solid #ffffff;
    border-radius: 0;
    width: 100%;
}

#submit-button-style:hover {
    background-color: rgb(39, 202, 101)!important;
    color: black;
}

/* footer styles */
footer {
  margin-top: auto;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0;
}

.fix-footer {
  min-height: 100dvh;
  width: 100%;
}

.footer-border {
  border-left: 3px solid white;
}

/* center icons and text in footer */
.icon,
.text {
  vertical-align: middle;
  display: inline-block;  
}

.bg-image {
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100dvh;
  background-position: center; /* Center the image */
  background-attachment: scroll;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url('/assets/img/nikita-kachanovsky-OVbeSXRk_9E.webp');
  /* background-image: url('/assets/img/nikita-kachanovsky-OVbeSXRk_9E-unsplash-compressed.jpg'); */
}

.alert-style {
  border-radius: 0 !important;
}

.fade-in {
  animation: fadeIn 1.25s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/* ---- custom 404 error page styling ---- */
.style-404 {
    height: 100dvh;
    width: 100%;
    padding: 5px;
    background: url('../img/404.png') no-repeat center;
    background-size: 256px 256px;
  } 

/* Styling for info divs on each page */
.row-col9 {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid black;
}

.row-col10 {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0;
  border-left: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid black;
}

.div-col {
  background-color: white;
}

/* apple map style */
.apple-map {
  max-height: 500px;
  border: 0;
  filter: grayscale(100%);
  overflow: hidden;
}

.map-border {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.apple-map:hover, .apple-maps:focus {
  filter: grayscale(0%);
}

/* portfolio a link style */
.pa-style {
  text-decoration: none;
  font-weight: bold;
  color: green
}

/* kofi button */
.showButton {
  display: block;
}

.hideButton {
  display: none;
}

#kofiButton {
  position: fixed;
  bottom: 150px;
  right: 75px;
  z-index: 9999;
} 

#portfolio {
  background-color: white;
}

@media screen and (max-width: 768px) {
  #kofiButton {
    position: fixed;
    bottom: 150px;
    right: 10px;
    z-index: 9999;
  }

  .row-col9 {
    border-left: 0;
    border-radius: 0;
  }
  
  .row-col10 {
    border-left: 0;
    border-radius: 0;
  }
}