
body {
    width: 100%;
    height: 100dvh;
    background-image: url(../assets/pexels-jessica-lewis-583848.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100dvh;
    background-attachment: fixed;
    background-position: center;
}

#main-style {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#heading {
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 5em;
    
    text-shadow: 0 3px 1px rgba(242, 28, 8, 0.8);
    color: rgb(241, 145, 12);
}

#cv-style{
    width: 100%;
    text-align: center;
}

#main-text {
    width: 50%;
    min-height: 20dvh;
    text-align: center;
    margin: 0 auto;
}

.bigButton {
    width: 200px;
    height: 200px;
    box-shadow: 0 8px 0 rgb(183,9,0), 
    0 15px 20px rgba(0,0,0,.35);
    border-radius: 50%;
    background-color: red;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    border: none;
    text-shadow: 0 3px 1px rgba(122,17,8,0.8);
    color: white;
}

#center-button {
    display: flex;
    justify-content: center;     
}

.pressed { 
    padding-top: 3px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(183,0,0),
      0 8px 6px rgba(0,0,0,.45);
  }
  
  @media screen and (max-width: 600px) {

    #heading {
        
        font-size: 3em;
    }

   .bigButton {
    width: 150px;
    height: 150px;
    
  }
}